{{define "base"}}
<html>
<head>
    {{template "header" .}}
</head>
<body>
	<div class="my-shadow my-nav-bar"><span class="logo" style="font-family: 'Exo 2', sans-serif; font-weight: 700;font-size: 3em;margin-left: 100px;color: rgba(33,37,41,.8); cursor: pointer;" onclick="window.location.href='/list/'">MOVIES.</span>
    </div>
    <div class="my-container">
    	{{template "body" .}}
	</div>
</body>
</html>
{{end}}