{{define "main"}}



<div class="my-grid-layout">

		<div class="image-grid">
			
			<center><img class="rounded poster" src="/{{.Poster}}" height="45%" width="80%" ></center>
		</div>
		





		<div class="details-grid">
			
						 <div class="media-body">
			                <h2 class="mt-0 mb-1">
			                    <br>
        							{{ .Name }} 
    							
    							 
			                </h2>
			                	<b>Ratings :</b>  <span class="badge badge-warning"><i class="fa fa-star" aria-hidden="true"></i>
{{ .Ratings }}/10.0</span>
			                	<br>
			                	<b>Genre:</b>
			            		
									<span class="badge badge-light">{{ .Genre }}</span>
			            		
			            		
			            		<br>
			            		<b>Release Date:</b> {{ .Year.Format "Jan 02, 2006" }}
			            		<br>
			            		<b>Duration:</b>{{.Duration}} mins
			            		
			            		<div class="storyline" style="margin-top: 15px;">
			                			{{.Storyline }}
								</div>
			                	
			                	<br>
			                	<br>
			                	
			                	<div >
			                	
			            </div>

		</div>
		


		
	</div>







{{end}}

