{{ define "main" }}


<div class="my-search-bar" style="display: inline-block;">
			<form id="form" method="GET" action=".">
				<input type="text" placeholder="Search Movie..." name="q"   >
				<input type="hidden" id="sort" name="sort_by">
				<button id="search-btn" type="submit">Search</button>
			</form>
		</div>

		<div class="sort-drop" style="display: inline-block;float:right;">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sort By
					</button>
					<div class="dropdown-menu" aria-labelledby="about-us">
						<span id="namesort" class="dropdown-item" ><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
 Name</span>
						<span id="ratesort" class="dropdown-item" ><i class="fa fa-star" aria-hidden="true"></i> Ratings</span>
						<span id="yearsort" class="dropdown-item" ><i class="fa fa-calendar" aria-hidden="true"></i>
 Latest</span>
					</div>
				</div>	
		</div>


	<ul class="list-unstyled list-group">
	{{range . }}
			
			    <li class="media list-group-item" id=listitem onclick="window.location.href ='/detail/{{ .Name }}' ">
			        <img alt="Generic placeholder image" class="d-flex mr-3 rounded" src="/{{ .Thumbnail }}" height="240px" width="240px">
			            <div class="media-body">
			                <h5 class="mt-0 mb-1">
			                    <a href="/detail/{{ .Name }}">
        							{{ .Name }} 
    							</a>
    							 ({{ .Year.Format "2006"  }})
			                </h5>
			                	<b>Ratings </b> : <span class="badge badge-warning"><i class="fa fa-star" aria-hidden="true"></i>
{{.Ratings }}/10.0</span>
			                	<br>
			                	<b>Genre:</b>
			            			
										<span class="badge badge-light">{{ .Genre }}</span>
			            			
			            			<br>
			            			<div class="storyline" style="margin-top: 15px;">
			                			{{ .Storyline }}
			                		</div>
			                		<br>
			                		<div style="position: absolute; left:215px; bottom:10px">
			                			
			            </div>

			        
			    </li>
	{{ end }}
	</ul>


{{ end }}


